{%- set slideshow = frappe.get_doc('Website Slideshow', website_slideshow) -%}
{%- set slides = slideshow.slideshow_items -%}
{%- set slideshow_id = 'carousel-' + frappe.utils.generate_hash(length=8) -%}

<div id="{{ slideshow_id }}" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for slide in slides %}
    <div class="carousel-item {% if slide.idx == 1 %}active{% endif %}">
      <img src="{{ slide.image }}" class="d-block w-100" alt="{{ slide.heading or '' }}">
    </div>
    {% endfor %}
  </div>
  {% if slides | len > 1 %}
  <button class="carousel-control-prev" type="button" data-bs-target="#{{ slideshow_id }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#{{ slideshow_id }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  {% endif %}
</div>