.btn-primary{
    background-color:#E44D2E !important;
}
.navbar{
    padding-top: 20px;
    padding-bottom: 20px;
}
:root {
    --green-info: #38A160;
    --product-bg-color: white;
    --body-bg-color: white;
  }